#links {
    padding-left: 18rem;
}

#links a {
    display: inline-block;
    font-size: 15px;
    /* font-weight: bold; */
    font-weight: 600;
    transition: all 0.5s ease;
}

#links a:hover {
    scale: 1.04;

}

.NewFeatured,
.Men {
    border-bottom: 2px solid black;
}



#searchInput {
    padding-left: 1rem;
    outline: none;
    font-size: 12px;
}

#searchInput:focus {

    outline: none;
}

#ham {
    display: none;
}

#mainProductAll {
    align-items: center;
    justify-content: center;

}

#filter {
    flex-direction: column;
}

#productCard {
    transition: all 0.5s ease-in-out;
}

#productCard:hover {
    scale: 1.03;
}

#footer-2 {
    justify-content: space-between;
}


.absolute {
    position: absolute;
    right: 10px;
}


@media (max-width:768px) {
    #ham {
        display: block;
    }

    #big-links,
    #big-icons {
        display: none;
    }
}
@media (max-width:658px) {
    #footer-2 {
        flex-direction: column;
        justify-content: center;
    }
}


@media (max-width:1000px) {
    #productCard {
        width: 300px;
        height: 400px;
    }

    #big-links,
    #big-icons {
        display: none;
    }

    #ham {
        display: block;
    }

    #links {
        padding-left: 0rem;
        justify-content: flex-end;
        gap: 2rem;
    }
}

@media (max-width:850px) {
    #productCard {
        width: 250px;
        height: 300px;
    }
}

@media (max-width:540px) {
    #productCard {
        width: 100%;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    #proDe {
        align-self: self-start;
        margin-left: 6rem;
    }

    #allProductMainDiv {
        align-items: center;
        justify-content: center;
        margin: auto;
        /* padding-left: 2rem; */
    }

    #filterOptions {
        display: none;
    }
}

@media (max-width:400px) {
    #filterOptions {
        display: none;
    }
    #proDe {
        align-self: self-start;
        margin-left: 0rem;
    }


}

@media (max-width:750px) {
    #mainProductAll {
        flex-direction: column;
    }

    #filter {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: fit-content;
    }

    #new-head {
        display: none;
    }
}